.search-box{
	margin-top:30px;
	margin-bottom:20px;
}
.btn-pos{
	 margin-top:30px;
	margin-bottom:20px;
}
.video-links-spacing{
	margin-top:30px;
}
.title-align{
	text-align:center;
}


